.footer {
    width: 100%;
    background: #444240;
    padding-top: 67px;
    padding-bottom: 67px;
        @media (max-width: 770px) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    &__container {
        flex-wrap: wrap;
            @media (max-width: 770px) {
                gap: 40px;
            }
            @media (max-width: 770px) {
                justify-content: center;
            }
        &-items {
            width: 181px;
            &_title {
                align-items: flex-end;
                & h3 {
                    font-family: 'Roboto', serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    letter-spacing: 0.07em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }
            &_link {
                margin-top: 22px;
                flex-direction: column;
                gap: 15px;
                & a {
                    width: max-content;
                    font-family: 'Roboto', serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    color: rgba(255, 255, 255, 0.75);
                    &:hover {
                        color: #D4B098;
                    }
                }
            }
        }
    }
}

.logo__footer {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.14em;
    color: #FFFFFF;
    &-img {
        position: relative;
        padding-left: 31px;
        &::before {
            position:absolute;
            content: url(../img/logofooter.png);
            left: 0px;
            bottom: -4px;
        }
    }
}